<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718257101600-750tuvhl2oglsajrtb1ikfjt5abtm4h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718257101600-750tuvhl2oglsajrtb1ikfjt5abtm4h4</string>
	<key>API_KEY</key>
	<string>AIzaSyAJWF4KVCUgBgHlqq4Op0XpvUNGJb8wr-k</string>
	<key>GCM_SENDER_ID</key>
	<string>718257101600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>morgan.co.kr.FC-Spotify</string>
	<key>PROJECT_ID</key>
	<string>spotify-login-app-34de2</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-login-app-34de2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718257101600:ios:d8ca73dc7f289f0ebc9545</string>
</dict>
</plist>