<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497769839358-djhncqev7pf8u4t4bdgcjndbfqa9a3qe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497769839358-djhncqev7pf8u4t4bdgcjndbfqa9a3qe</string>
	<key>API_KEY</key>
	<string>AIzaSyDsgXctkGmyr3GYak2S5hS2yA_GqxYH1Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>497769839358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>morgan.co.kr.FC-Warning</string>
	<key>PROJECT_ID</key>
	<string>warning-749c6</string>
	<key>STORAGE_BUCKET</key>
	<string>warning-749c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497769839358:ios:ce2f077509b24b394d83af</string>
</dict>
</plist>